<h2 mat-dialog-title>Add new merchant</h2>
<mat-dialog-content>
  <div class="example-container">
      <mat-form-field>
          <input matInput placeholder="Name" [(ngModel)]="rewardxToken.name" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Value" [(ngModel)]="rewardxToken.value" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Symbol" [(ngModel)]="rewardxToken.symbol" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Balance" [(ngModel)]="rewardxToken.balance" required>
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Merchant ID" [(ngModel)]="rewardxToken.marchentId" required>
      </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button color="primary" (click)="save()">
    <mat-icon>save</mat-icon> Save
  </button>
  <button mat-button (click)="dismiss()">
    <mat-icon>cancel</mat-icon> Cancel
  </button>
</mat-dialog-actions>
